@font-face {
	font-family: 'Trebuchet MS', sans-serif;
    font-family: 'Exo2.0-Thin';
    src: url(../fonts/Exo20-Thin.eot),
    	 url(../fonts/Exo2.0-Thin.otf),
         url(../fonts/exo2.0-thin-webfont.woff2),
         url(../fonts/exo2.0-thin-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

html, body{
	font-family: 'Trebuchet MS', sans-serif;
	background: url(../images/background.png);	
	box-shadow: 0 0 0 5000px rgba(0,0,0, 0.3);
}

.conteiner{
	display: flex;
	flex-direction: column;
	width: 100%;
    height: 100%;
   	position: absolute;
    top: 0;
    left: 0;
    align-content: center; 
    justify-content: center; 
   	padding-bottom: 8%;
}

/*---------- row-title ----------*/
.row-title{
	font-family: 'Exo2.0-Thin', arial;
	font-size: 36px;
	color: #bbbbbb;	
	text-align: center;  	
} 

/*---------- row-packages ----------*/
.row-packages{
 	display: flex;
	flex-wrap: wrap;
	font-family: 'Trebuchet MS', sans-serif;
}

/*---------- package ----------*/
.package-conteiner{
	margin: 30px auto;
}

/*---------- package-layer-1 ----------*/
.col-packages-1, .col-packages-2, .col-packages-3{
	background-color: #1698d9;
	padding:1px;
	margin-top:10px;
	width: 322px;
	height: 480px;
	font-size: 36px;
	color: #9c9a9a;	
	border-radius: 6px;			
	background: linear-gradient(135deg, transparent 15px, #1698d9 0) top left, 
	linear-gradient(0deg, transparent 0px, #1698d9 0) top right, 
	linear-gradient(0deg, transparent 0px, #1698d9 0) bottom right, 
	linear-gradient(0deg, transparent 0px, #1698d9 0) bottom left;
	background-size: 51% 51%;
	background-repeat: no-repeat;
	position: relative;	
}

/*---------- package-layer-2 ----------*/
.col-inside{
	background-color: #f2f2f2;
	width: 316px;
	height: 476px;
	font-size: 36px;
	color: #9c9a9a;	
	margin: 2px auto;
	border-radius: 6px;		
	background: linear-gradient(135deg, transparent 15px, #f2f2f2 0) top left, 
	linear-gradient(0deg, transparent 0px, #f2f2f2 0) top right, 
	linear-gradient(0deg, transparent 0px, #f2f2f2 0) bottom right, 
	linear-gradient(0deg, transparent 0px, #f2f2f2 0) bottom left;
	background-size: 51% 51%;
	background-repeat: no-repeat;
	position: relative;
	
}

/*---------- package-layer-3 ----------*/
.text-1{
	font-size: 16px;
	padding-top:15px;
	margin-left: 40px;
}

.text-change-1{
	display: none;
	color: #e62e7a;
	font-size: 16px;
	padding-top:15px;
	margin-left: 40px
}

.text-2{
	font-size: 48px;
	font-weight: bold;
	color: #000000;
	margin-left: 37px;
	margin-top: 10px;
}

.text-3{
	font-size: 24px;
	font-weight: bold;
	margin-left: 39px;
	margin-top: 10px;
	color: #000000;
}

.text-4{
	position: absolute;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 39px;	
}

.circle{
	position: relative;
	background-color: #1698d9;
	margin-top: 260px;
	margin-left: 220px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	text-align: center;
	color: #ffffff;
}

.circle h1{
	font-weight: normal;
	font-size: 42px;
	padding:10px;	
}

.circle p{
	font-size: 21px;
	margin-top:-10px;
}

.cat{
	position: absolute;
	margin-top: 84px;
}

.cat img{
	border-radius: 6px;
}

/*---------- descriptions under package ----------*/
.col-descriptions-1, .col-descriptions-2, .col-descriptions-3{
	font-size: 13px;
	text-decoration: none;
	margin: 10px auto;
	color: #dddddd;
	text-align: center;	
}

.col-descriptions-1 a, .col-descriptions-2 a, .col-descriptions-3 a{
	text-decoration: none;
	color: #1698d9;
	border-bottom: 1px dashed #1698d9;	
}

.descriptions-text-2{
	display: none
}

.descriptions-text-3{
	color: #ffff66;
	display: none
}

/*---------- conditions for scrip.js ----------*/
.default{
	background-color: #1698d9;
}

.defaulthover{
	background-color: #2ea8e6;
}

.selected{
	background: #d91667;
	background: linear-gradient(135deg, transparent 15px, #d91667 0) top left, 
	linear-gradient(0deg, transparent 0px, #d91667 0) top right, 
	linear-gradient(0deg, transparent 0px, #d91667 0) bottom right, 
	linear-gradient(0deg, transparent 0px, #d91667 0) bottom left;
	background-size: 51% 51%;
	background-repeat: no-repeat;
}

.selectedhover{
	background: #e62e7a;	
}

.disable{
	background-color: #b3b3b3;
}

.disableshadow {
	position: relative;
	z-index: -1;
	background-color: #b3b3b3;
	background: linear-gradient(135deg, transparent 15px, #b3b3b3 0) top left, 
	linear-gradient(0deg, transparent 0px, #b3b3b3 0) top right, 
	linear-gradient(0deg, transparent 0px, #b3b3b3 0) bottom right, 
	linear-gradient(0deg, transparent 0px, #b3b3b3 0) bottom left;
	background-size: 51% 51%;
	background-repeat: no-repeat;
}

.invisibletext{
	display: none;
}

.visibletext{
	display: inline;
}
